@model System.Collections.Generic.IEnumerable<HyperLibrary.Core.LibraryModel.Book>

@{
    ViewBag.Title = "Hyper Library";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Hyper Library</h2>
<div class="row-fluid">
@{
    foreach (var book in Model)
    {
            <div class="col-md-4">
                <h3>@book.Title<small> by @book.Author</small></h3>
                <img src="@Url.Content(string.Format("/Content/bookcovers/"+book.CoverFilename))" alt="@book.Title" width="200px" height="200px"/>
                <p>@book.Description</p>
                @Html.ActionLink("View","GetBook",new{id =book.Id})
            </div>
    }
}
</div>